body {
  background-image: url(/ebola/background.jpg); 
    font-family: sans-serif;
    background-repeat: no-repeat, repeat;
   
  }

 
  .carousel{
    position:relative;
    height:600px;
    width:80%;
    margin:0 auto

  }

  .carousel-img{width:100%;
  height:100%;
object-fit:cover
}

  .carousel_track_container{
    background:lightgreen;
height:100%;
position:relative}

  .carousel_track{
    padding:0;
    margin:0;
    list-style:none;  
  }

  .carousel_slide{
    position:absolute;
    top:0;
    bottom:0;
    width: 100%
  }

  .carousel_button
  {position:absolute;
  transform:translateY(-50%);
background:transparent;
border:0;
}

.carousel_button_left{height:1%;
  left:-40px;
}

.carousel_button_right{height:1%;
  right:-40px
}

.carousel_nav{
background:pink;
display:flex;
justify-content:center; 
padding:10px 0;
}

.carousel_indicator{border:0;
border-radius: 50%;
width:15px;
height:15px;
background: rgba(0,0,0);
margin:0 12px;
}

  .carousel_buttom img{width:12px;

  }
   
.carousel_nav{background:pink;

}



  
  

  h1 {
    text-align: center;
    font-size: 35px;
    font-style: Arial;
    color: white;
  }


  .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  
 p {
    color:rgb(148, 8, 8);
    text-align: justify;
    width: 400px;
  }


.content {
  color:rgb(148, 8, 8);
    border: 4px solid red;
    padding: 20px;
    overflow: hidden;
    width:900px;
    margin:0 auto;
}

.content img {
    margin-right: 15px;
    float: left;
}

